apiVersion: v1
kind: PersistentVolume
metadata:
  name: %%APP_NAME%%-%%ZONE%%
  labels:
    failure-domain.beta.kubernetes.io/zone: %%ZONE%%
spec:
  capacity:
    storage: 18Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  awsElasticBlockStore:
    volumeID: %%VOLUME_ID%%
    fsType: ext4
